<app-header></app-header>
<app-sidebar></app-sidebar>
<!--start page wrapper -->
<div class="page-wrapper">
    <div class="page-content">
        <div class="card">
            <div class="card-body p-4">
                <h5 class="card-title">Add New Expense Type</h5>
                <hr />
                <div class="form-body mt-4">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="border border-3 p-4 rounded">
                                <form class="row g-3" [formGroup]="myForm" (ngSubmit)="onSubmit()">
                                    <div class="col-md-4">
                                        <label for="ename" class="form-label">Expense Type Name</label>
                                        <input type="text" class="form-control" id="ename"
                                            formControlName="ename">
                                        <small *ngIf="myForm.get('ename').errors && myForm.get('ename').touched"><i class="bi bi-exclamation-circle"></i> Expense Type Name is required</small>
                                    </div>
                                    <div class="row g-3 mt-3">
                                        <div class="col-md-4">
                                            <div class="d-grid">
                                                <button type="submit" class="btn btn-light">Save Expense Type</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div><!--end row-->
                </div>
            </div>
        </div>

    </div>
</div>
<!--end page wrapper -->