<div class="wrapper">
    <div class="sidebar-wrapper" data-simplebar="true">
        <div class="sidebar-header">
            <div>
                <img src="assets/images/logo-icon.png" class="logo-icon" alt="logo icon" width="200">
            </div>
            <div class="toggle-icon ms-auto d-lg-none"><i class='bx bx-arrow-to-left'></i>
            </div>
        </div>
        <!--navigation-->
        <ul class="metismenu" id="menu">
            <li>
                <a routerLink="/add-intimation" routerLinkActive="active">
                    <div class="parent-icon"><i class='bx bx-folder-plus'></i>
                    </div>
                    <div class="menu-title">New Intimation </div>
                </a>
            </li>
            <li class="dropdown">
                <a href="javascript:;" class="has-arrow" data-bs-toggle="dropdown">
                    <div class="parent-icon"><i class='bx bx-file'></i>
                    </div>
                    <div class="menu-title">Reports</div>
                </a>
                <ul class="dropdown-menu down-menu" routerLinkActive="show">
                    <li> <a routerLink="/intimation-report" routerLinkActive="active"><i class="bx bx-right-arrow-alt"></i>Intimation Reports</a>
                    </li>
                    <li> <a routerLink="/auth-letters" routerLinkActive="active"><i class="bx bx-right-arrow-alt"></i>Authorization Letters</a>
                    </li>
                    <li> <a routerLink="/hospitals" routerLinkActive="active"><i class="bx bx-right-arrow-alt"></i>Hospitals List</a>
                    </li>
                    <li> <a routerLink="/vendors" routerLinkActive="active"><i class="bx bx-right-arrow-alt"></i>Vendors List</a>
                    </li>
                    <li> <a routerLink="/insurance" routerLinkActive="active"><i class="bx bx-right-arrow-alt"></i>Insurance / TPA List</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="javascript:;" class="has-arrow" data-bs-toggle="dropdown">
                    <div class="parent-icon"><i class='bx bx-home-circle'></i>
                    </div>
                    <div class="menu-title">Masters</div>
                </a>
                <ul class="dropdown-menu down-menu" routerLinkActive="show">
                    <li> <a routerLink="/add-hospital" routerLinkActive="active"><i class="bx bx-right-arrow-alt"></i>Add Hospitals</a>
                    </li>
                    <li> <a routerLink="/add-insurance" routerLinkActive="active"><i class="bx bx-right-arrow-alt"></i>Add Insurance/TPA</a>
                    </li>
                    <li> <a routerLink="/add-vendor" routerLinkActive="active"><i class="bx bx-right-arrow-alt"></i>Add Vendors</a>
                    </li>
                    <li> <a routerLink="/company" routerLinkActive="active"><i class="bx bx-right-arrow-alt"></i>Company Details</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="javascript:;" class="has-arrow" data-bs-toggle="dropdown">
                    <div class="parent-icon"><i class='bx bx-chart'></i>
                    </div>
                    <div class="menu-title">Staffs</div>
                </a>
                <ul class="dropdown-menu down-menu" routerLinkActive="show">
                    <li> <a routerLink="/add-staff" routerLinkActive="active"><i class="bx bx-right-arrow-alt"></i>Add Staff</a>
                    </li>
                    <li> <a routerLink="/view-staff" routerLinkActive="active"><i class="bx bx-right-arrow-alt"></i>View Staffs</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="javascript:;" class="has-arrow" data-bs-toggle="dropdown">
                    <div class="parent-icon"><i class='bx bx-money'></i>
                    </div>
                    <div class="menu-title">Bulk Invoice</div>
                </a>
                <ul class="dropdown-menu down-menu" routerLinkActive="show">
                    <li> <a routerLink="/add-invoice" routerLinkActive="active"><i class="bx bx-right-arrow-alt"></i>Create Invoice</a>
                    </li>
                    <li> <a routerLink="/view-invoice" routerLinkActive="active"><i class="bx bx-right-arrow-alt"></i>View Invoice</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="javascript:;" class="has-arrow" data-bs-toggle="dropdown">
                    <div class="parent-icon"><i class='bx bx-user'></i>
                    </div>
                    <div class="menu-title">Users</div>
                </a>
                <ul class="dropdown-menu down-menu" routerLinkActive="show">
                    <li> <a routerLink="/view-users" routerLinkActive="active"><i class="bx bx-right-arrow-alt"></i>View Users</a>
                    </li>
                    <li> <a routerLink="/view-permissions" routerLinkActive="active"><i class="bx bx-right-arrow-alt"></i>View Permissions</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!--end navigation-->
    </div>
</div>