<app-header></app-header>
<app-sidebar></app-sidebar>
<!--start page wrapper -->
<div class="page-wrapper">
    <div class="page-content">
        <div class="card">
            <div class="card-body p-4">
                <h5 class="card-title">Select Role to Assign Permissions</h5>
                <hr />
                <div class="form-body mt-4">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="border border-3 p-4 rounded">
                                <form class="row g-3" [formGroup]="myForm" (ngSubmit)="onSubmit()">
                                    <div class="row g-3">
                                        <div class="col-md-4">
                                            <label for="role_id" class="form-label">Role</label>
                                            <select class="form-select" id="role_id" formControlName="role_id"
                                                (change)="listCases()">
                                                <option *ngFor="let loc of roles" value="{{loc.id}}">{{loc.name}}
                                                </option>
                                            </select>
                                            <small
                                                *ngIf="myForm.get('role_id').errors && myForm.get('role_id').touched"><i
                                                    class="bi bi-exclamation-circle"></i> Select Role</small>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="home_page" class="form-label">Home Page</label>
                                            <input type="text" class="form-control" id="home_page"
                                                formControlName="home_page">
                                            <small
                                                *ngIf="myForm.get('home_page').errors && myForm.get('home_page').touched"><i
                                                    class="bi bi-exclamation-circle"></i> Enter Home Page</small>
                                        </div>
                                    </div>
                                    <div class="row g-3 mt-3">
                                        <div *ngFor="let prod of permissions; let i=index;" class="col-md-2 distance">
                                            <input type="checkbox" id="column-{{prod.id}}" [checked]="prod.value"
                                                (click)="selectedColumns($event,i,prod.array_name)">
                                            <label for="column-{{prod.id}}"
                                                class="form-label">{{prod.display_name}}</label>
                                        </div>
                                    </div>
                                    <div class="row g-3 mt-3">
                                        <div class="col-md-4">
                                            <div class="d-grid">
                                                <button type="submit" class="btn btn-light">Save Details</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>


                        </div>
                    </div><!--end row-->
                </div>
            </div>
        </div>

    </div>
</div>
<!--end page wrapper -->
<app-footer></app-footer>